// Переменные

// Typography

$font-family-graphik: "Graphik", arial, sans-serif;

// Colors

$color-white: #ffffff;
$color-extralight-gray: #f6f8fa;
$color-light-gray: #eceff2;
$color-mid-gray: #c2c8cd;
$color-gray: #83898f;
$color-dark-gray: #5e646a;
$color-black: #191c1f;
$color-primary-disabled: #abcae6;
$color-primary: #2a6cea;

// viewports

$vp--1220: 1220px;
$vp--1024: 1024px;
$vp--768: 768px;
$vp--375: 375px;
$vp--320: 320px;
